.six{
 background-color: #292929;
 padding: 50px 100px 50px 100px ;
 display: flex;
 justify-content: center;
 flex-direction: column;
 padding-bottom: 60px;
}

.popup2{
 background-color: #2c2c2c2c;
 border: #CFB53B solid 2px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding-top: 40px;
 padding-bottom: 40px;
 width: 50%;
 align-self: center;
 padding-right: 20px;
 padding-left: 20px;

}

.plogosp{
 width: 25px;
 padding-right: 10px;
 padding-left: 10px;
}

.plogo{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 30px;
 width: 50%;
}

.plogos{
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: row;
}

.thanku{
 color: whitesmoke;
 font-family: poppins;
 font-size: small;
 padding-top: 50px;
}
.logop{
 width: 100px;
}


.popupinfos{
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 10px;
 align-items: center;
}

.popupinf{
 color: #CFB53B;
 font-family: poppins;
 font-size: large;
}
.total{
 color: whitesmoke;
 font-family: poppins;
 font-size: larger;
}

.popuslog{
 color: #CFB53B;
 font-family: poppins;
 font-size:small;
 margin-top: 40px;
}

.popupcontact{
 background-color: #CFB53B ;
 width: 100px;
 border: #CFB53B solid 1px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-family: poppins;
}

 /* #CFB53B ; */