.five{
 background-color: #292929;
 padding: 50px 100px 50px 100px ;
 display: flex;
 justify-content: center;
 flex-direction: column;
 padding-bottom: 60px;
}

.popup1{
 background-color: #2c2c2c2c;
 border: #CFB53B solid 2px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding-top: 40px;
 padding-bottom: 40px;
 width: 50%;
 align-self: center;
 padding-right: 20px;
 padding-left: 20px;
}

.plogosp{
 width: 25px;
 padding-right: 10px;
 padding-left: 10px;
}

.popupprice{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 padding: 50px;
 width: 50%;
}

.popuph{
 font-family: poppins;
 color: #CFB53B ;
 font-size: medium;
}

.popuph1{
 font-family: poppins;
 color: whitesmoke;
 font-size:x-large;
 padding-top: 30px;
}

.popuph2{
 font-family: poppins;
 color: #CFB53B ;
 font-weight: normal;
 padding-top: 50px;
 font-size: small;
}


.popupcontact{
 background-color: #CFB53B ;
 width: 100px;
 border: #CFB53B solid 1px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-family: poppins;
 align-self: center;
 margin-top: 10px;
}


.plogo{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 30px;
 width: 50%;
}

.plogos{
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: row;
}


.logop{
 width: 100px;
}


.popupprice{
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
 /* #CFB53B ; */